<!-- app/views/carts/show.html.erb -->
<h1>Your Cart</h1>
<ul>
  <% @cart.each do |product_id, quantity| %>
    <li>
      <%= "#{Product.find(product_id).name}: #{quantity}" %>
      <%= link_to 'Remove', remove_from_cart_cart_path(product_id), method: :delete %>
      <%= form_tag update_cart_cart_path(product_id), method: :patch do %>
        <%= text_field_tag :quantity, quantity, min: 0 %>
        <%= submit_tag 'Update' %>
      <% end %>
    </li>
  <% end %>
</ul>
