<!-- app/views/plans/show.html.erb -->
<h1>Workout Plan</h1>
<%= if @workout_plan.present? %>
  <p><%= @workout_plan %></p>
<% else %>
  <p>No workout plan available.</p>
<% end %>

<h1>Diet Plan</h1>
<%= if @diet_plan.present? %>
  <p><%= @diet_plan %></p>
<% else %>
  <p>No diet plan available.</p>
<% end %>

<%= link_to 'Request New Plans', new_plans_path %>
